.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
  font-size: 20px;
  font-weight: 500;
}
.create h2 {
  font-size: 30px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 4px 4px 7px #cccccc, -4px -4px 7px #f4f4f4;
  outline: none;
}

.create textarea {
  height: 100px;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
}
