.btn {
  font-size: 25px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 20px;
  /* display: inline-block; */
  white-space: nowrap;
  border: none;
  transition: all 0.3s ease;
  background-color: palevioletred;
}

.btn:hover {
  transform: scale(1.05);
}
